<div class="mt-3">
  <%= form_with model:[@place,@review] do |f| %>
  <%= f.text_area :review, placeholder: "レビュー", class: "form-control mb-3", rows: "5" %>
  <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
<div>
