<div id='map'></div>

<style>
  #map{
    width: 100%;
    height: 300px;
  }
</style>

<script>
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: <%= @map.latitude %>, lng: <%= @map.longitude %>},
  zoom: 8
  });
}
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9OcdkXM8jQz2WRoLUv_nDSYlGgJ019ng&callback=initMap" async defer></script>
