<div class="row mt-5 mb-5">
  <div class="col s12 m12 l12">
    <h2>旅行の思い出を共有しよう</h2>
    <p>行った事のある観光名所のエピソードをみんなに教えよう</p>
  </div>
</div>
<div class="row">
  <% @place.each do |place| %>
  <div class="card-group col-lg-4 col-md-12 col-sm-12">
    <div class="card mb-4">
      <img class="card-img-top" src=<%= place.image_url %>>
      <div class="card-body">
        <h4 class="card-title"><%= place.name %></h4>
        <p class="card-text"></p>
        <a href="#!" class="btn btn-primary">Go details</a>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate @place %>
</div>
