<div class="row ml-5 mr-5">
  <div class="col-12 col-md-12 col-sm-12 text-center mb-3">
    <%= image_tag @place.image_url,style: "width:100%;" %>
  </div>
  <div class="col-12 col-md-12 col-sm-12">
    <h2><%= @place.name %></h2>
    <p><%= @place.description %></p>
  </div>
  <%= link_to "コメントを書く", new_place_review_path(@place) %>
</div>
